# ───── Секреты и токены ─────
.env
*.env

# ───── Файлы данных бота ─────
trackList.json
userStats.json
votes.json

# ───── Зависимости и сборки ─────
node_modules/
package-lock.json
dist/
build/
Temp/
.cache/

# ───── Музыка и временные файлы ─────
Tracks/
*.mp3
*.wav
*.ogg

# ───── Системные и IDE файлы ─────
.DS_Store
Thumbs.db
.vscode/
.idea/

# ───── Render / Deployment ─────
render.yaml
vercel.json
*.log
npm-debug.log*
